apiVersion: v1
kind: Pod
metadata:
  name: busybox
spec:
  containers:
  - name: busybox
    image: busybox:1.31
    command:
      - sleep
      - "3600"
    resources:
      limits:
        cpu: "0.1"
