[submodule "Project/life"]
	path = Project/life
	url = https://github.com/damoncheng/life

[submodule "Project/ABI"]
	path = Project/ABI
	url = https://github.com/damoncheng/ABI

[submodule "Project/sphinx"]
	path = Project/sphinx
	url = https://github.com/damoncheng/sphinx
