apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  annotations:
    rbac.authorization.kubernetes.io/autoupdate: "true"
  creationTimestamp: "2020-09-06T17:46:57Z"
  labels:
    kubernetes.io/bootstrapping: rbac-defaults
  name: system::leader-locking-kube-developer-scheduler
  namespace: kube-system
  resourceVersion: "136"
  selfLink: /apis/rbac.authorization.k8s.io/v1/namespaces/kube-system/roles/system::leader-locking-kube-developer-scheduler
  uid: f0f0fe7e-3c06-435e-b1f5-517c0ce97fa3
rules:
- apiGroups:
  - ""
  resources:
  - configmaps
  verbs:
  - watch
- apiGroups:
  - ""
  resourceNames:
  - kube-developer-scheduler
  resources:
  - configmaps
  verbs:
  - get
  - update
